.maincontent{
    margin: 50px;
}
.head{
    text-align: center;
}

.part{
        float: left;
        width: 28%;
        background-color: grey;
        margin-left: 20px;
        padding: 15px;
        border:3px solid black;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
        font: size 16px;
}

.title1{
    text-align: left;
    background-color: burlywood;
    margin-top: -18px;
    padding: 15px;
    width: 60px;
    
}
.title2{
    text-align: left;
    background-color: rgb(238, 90, 90);
    margin-top: -18px;
    padding: 15px;
    width: 80px;
    
}
.title3{
    text-align: left;
    background-color: rgb(154, 69, 194);
    margin-top: -18px;
    padding: 15px;
    width: 50px;
    
}
/*
.section1{
    float: left;
    width: 28%;
    background-color: grey;
    margin-left: 20px;
    padding: 15px;
    border:3px solid black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font: size 16px;
}

.title1{
    text-align: right;
    background-color: rgb(236, 197, 22);
    padding:10px 18px;
    
    width: 50px;
    margin-top: -18px;
    float: right;
}

.title2{
    text-align: right;
    background-color: rgb(153, 173, 36);
    padding:10px 25px;
    
    width: 50px;
    margin-top: -18px;
    float: right;
}

.title3{
    text-align: right;
    background-color: rgb(255, 122, 159);
    padding:10px 18px;
    
    width: 50px;
    margin-top: -18px;
    float: right;
}